.btn {
  color: #fff;
  border-radius: 5px;
  border: 1px solid #0069D9;
  background-color: #0069D9;
  text-decoration: none;
  padding: 10px;
  margin-right: auto;
  margin-left: auto; }

.btn--primary {
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent; }
